@import url("https://fonts.googleapis.com/css2?family=Luckiest+Guy&family=Vollkorn&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
  scroll-behavior: smooth;
  color-scheme: light;
  font-family: "Vollkorn", serif;
}
.headerText {
  font-family: "Luckiest Guy", cursive;
}
input::placeholder {
  color: white;
  opacity: 0.5;
}

.btn {
  background-color: #00f59b;
}
